extends layout

block content
  //calls the block named 'content'

  main

    header
      div#heading.hero
        h1.title NUMIE BLOG
        h2.subtitle.
          A curated collection of self-published articles
          written by the Numie team for you to enjoy.

    section#featured.section
      div.container
        h2.featured-title Numie is Google Certified
        p.featured-desc.
          We're a multicultural, internationally based team
          of designers, developers, and marketers who live
          and breathe creating products that push the
          boundaries.
      div.btn-container
        a.read-btn.featured-btn READ POST

    div#category-bar.tabs.is-centered.is-fullwidth
      ul
        li: a DESIGN
        li: a DEVELOPMENT
        li: a MARKETING
        li: a PEOPLE
        li: a COMPANY

    section#posts
      div.post.columns
        div.column.is-half
          img(src="../assets/images/forest.jpg" alt="")
        div#post-container.column.is-half
          h2.post-title Why Remote Teams Thrive
          span.post-category # COMPANY
          p.post-content.
            Tofu typewriter microdosing, plaid tumblr palo
            santo bushwick kale chips gentrify humblebrag
            hashtag swag. Small batch cred plaid, four loko
            brooklyn pug raw denim. Small batch cred plaid,
            four loko brooklyn pug raw denim.
          div.btn-container
            a.read-btn.post-btn READ MORE

      div.post.columns
        div.column.is-half
          img(src="../assets/images/fireworks.jpg" alt="")
        div#post-container.column.is-half
          h2.post-title Why Remote Teams Thrive
          span.post-category # COMPANY
          p.post-content.
            Tofu typewriter microdosing, plaid tumblr palo
            santo bushwick kale chips gentrify humblebrag
            hashtag swag. Small batch cred plaid, four loko
            brooklyn pug raw denim. Small batch cred plaid,
            four loko brooklyn pug raw denim.
          div.btn-container
            a.read-btn.post-btn READ MORE

      div.post.columns
        div.column.is-half
          img(src="../assets/images/watch.jpg" alt="")
        div#post-container.column.is-half
          h2.post-title Why Remote Teams Thrive
          span.post-category # COMPANY
          p.post-content.
            Tofu typewriter microdosing, plaid tumblr palo
            santo bushwick kale chips gentrify humblebrag
            hashtag swag. Small batch cred plaid, four loko
            brooklyn pug raw denim. Small batch cred plaid,
            four loko brooklyn pug raw denim.
          div.btn-container
            a.read-btn.post-btn READ MORE
            
      div.post.columns
        div.column.is-half
          img(src="../assets/images/fireworks.jpg" alt="")
        div#post-container.column.is-half
          h2.post-title Why Remote Teams Thrive
          span.post-category # COMPANY
          p.post-content.
            Tofu typewriter microdosing, plaid tumblr palo
            santo bushwick kale chips gentrify humblebrag
            hashtag swag. Small batch cred plaid, four loko
            brooklyn pug raw denim. Small batch cred plaid,
            four loko brooklyn pug raw denim.
          div.btn-container
            a.read-btn.post-btn READ MORE

      div.post.columns
        div.column.is-half
          img(src="../assets/images/mountains.jpg" alt="")
        div#post-container.column.is-half
          h2.post-title Why Remote Teams Thrive
          span.post-category # COMPANY
          p.post-content.
            Tofu typewriter microdosing, plaid tumblr palo
            santo bushwick kale chips gentrify humblebrag
            hashtag swag. Small batch cred plaid, four loko
            brooklyn pug raw denim. Small batch cred plaid,
            four loko brooklyn pug raw denim.
          div.btn-container
            a.read-btn.post-btn READ MORE
        
    div#load-more
      a LOAD MORE <br> +

    footer.footer
      div#subscribe
        h3.sub-tagline.
          Fresh articles of fascinating
          things delivered to your inbox.
        form#sub-btn.box.field
          p.control
            input.input(type="email" placeholder="Your email")
          button.button.is-white(type="submit") SUBSCRIBE
        small.sub-promise
          No spam. No ads. No selfies. We promise.

      hr

      div#social
        h4#numie-title NUMIE STUDIO
        span#numie-email yo@numie.co
        // SVG HERE
        a(href="#") GO UP


  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="http://darsa.in/sly/js/sly.min.js")
  script(src='/assets/js/main.js')